/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes mymove {
  from {top: 0px;}
  to {top: 200px;}
} */

/* Set full height for the entire page */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  margin: 0;
  background-color: #f9f9f9; /* Optional background color */
}

/* First row for the button */
.first-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%; /* Adjust height as needed */
}

/* Button styling */
.switch-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #264653;
  color: white;
  border-radius: 5px;
}

.switch-button:hover {
  background-color: #2a9d8f;
}

/* Second row for the containers */
.second-row {
  display: flex;
  flex: 1; /* Occupy the remaining height */
  width: 100%; /* Full width */
  justify-content: space-between;
}

/* Containers styling */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 5px; /* Optional spacing between containers */
  color: black;
  font-size: 18px;
  border: 2px solid #ccc; /* Optional border */
  border-radius: 10px;
}

.container h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.container p {
  text-align: center;
}
